<table (mousedown)="startPainting()" (mouseup)="stopPainting()">
  <ng-container *ngFor="let row of rows; let rowIndex = index">
    <tr>
      <td
        *ngFor="let column of columns; let columnIndex = index"
        class="cell unvisited"
        id="{{ row }}-{{ column }}"
        [class.start]="isStartCell(rowIndex, columnIndex)"
        [class.finish]="isFinishCell(rowIndex, columnIndex)"
        (mouseenter)="paint($event, rowIndex, columnIndex)"
        (mousemove)="moveCell($event, rowIndex, columnIndex)"
      ></td>
    </tr>
  </ng-container>
</table>
