<nav>
  <ul>
    <li><h1>Pathfinder Visualizer</h1></li>
    <li>
      <mat-form-field>
        <mat-label>Select an algorithm</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="bfs">bfs</mat-option>
          <mat-option value="dijkstra">Dijkstra</mat-option>
          <mat-option value="astar">A*</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <li>
      <button
        mat-raised-button
        color="primary"
        (click)="gridTableComponent.algorithms(this.selected)"
      >
        Visualize
      </button>
    </li>
    <li>
      <button mat-raised-button (click)="gridTableComponent.clearBoard()">
        Clear board
      </button>
    </li>
    <li>
      <button mat-raised-button (click)="gridTableComponent.maze()">
        Maze
      </button>
    </li>
  </ul>
</nav>
<div style="text-align: center">
  <h1>Legend of cells:</h1>
</div>
<app-grid-table></app-grid-table>
